PROJECT_NAME="kakeibo"
LOCAL_SOURCE_SUBDIR=""
KEEP=5

SSH_USER="#YOUR_SSH_USER#"
SSH_HOST="#YOUR_SSH_HOST#"

REMOTE_BASE_DIR="/home/$SSH_USER/apps/$PROJECT_NAME"
FINAL_LINK="/home/$SSH_USER/$PROJECT_NAME"
