// Text
//


// Muted
.text-muted {
  opacity: $text-muted-opacity;
}

.bg-gradient-primary {
  .text-muted {
    opacity: .8;
  }
}

// Price
.text-price {
  font-family: $price-font-family;
}

// Shadow
.text-shadow {
  text-shadow: .07em .07em 0 rgba(0, 0, 0, .1);
}
.text-shadow-none {
  text-shadow: none !important;
}

// For blog text or simple text
.textual-content {
  max-width: 40rem;
}
.text-literal {
  line-height: 2;
  text-align: justify;
}

// No wrap
.no-wrap {
  white-space: nowrap;
}

// Required
.required {
  &:after, &:before {
    color: $red;
    font-weight: bold;
    position: relative;
    top: -.15rem;
  }

  &:after { content: ' *'; }

  &--prepend {
    &:after { content: ''; }
    &:before { content: '* '; }
  }
}
