// Avatar
//



//
// Variables
//

$avatar-title-color:    $light !default;
$avatar-title-bg:       $secondary !default;

$avatar-size-xs:        .5444rem !default;
$avatar-size-sm:        .778rem !default;
$avatar-size:           1rem !default;
$avatar-size-lg:        1.3334rem !default;
$avatar-size-xl:        2.6667rem !default;

$avatar-width:          3em !default;
$avatar-height:         $avatar-width !default;

//
// Mixins
//

@mixin avatar-size($size) {
  font-size: $size;
}



//
// Main + sizes
//

.avatar {
  position: relative;
  display: inline-block;
  height: $avatar-height;
  width: $avatar-width;
  @include avatar-size($avatar-size);

  &-xs {
    @include avatar-size($avatar-size-xs);
  }

  &-sm {
    @include avatar-size($avatar-size-sm);
  }

  &-lg {
    @include avatar-size($avatar-size-lg);
  }

  &-xl {
    @include avatar-size($avatar-size-xl);
  }
}



//
// Avatar image
//

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}



//
// Avatar text
//

.avatar-text {
  background-color: $avatar-title-bg;
  color: $avatar-title-color;
  font-size: 1em;
  white-space: nowrap;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
