// Brand
//

//
// Brand logo
//

.brand-logo {
  font-family: $brand-font-family;
  line-height: 1em;
  border: .05em solid;
  border-radius: .2em;
  display: inline-block;
  padding: .3em .45em; // padding-{top/bottom} may change according to $brand-font-family
  text-shadow: 0 .06em 0 rgba(0, 0, 0, .1);
  box-shadow: .04em .04em 0 rgba(0, 0, 0, .1);
  user-select: none;
  position: relative;
  z-index: 1;
  transition: color $animation-duration ease;

  &:hover {
    text-decoration: none;
  }

  ._version {
    background-color: $yellow;
    color: $body-color;
    font-family: $font-family-monospace;
    font-size: .34em;
    font-weight: bold;
    line-height: 1;
    text-shadow: none;
    border-radius: 1em;
    padding: .2em .8em;
    transform: rotate(16deg);
    position: absolute;
    top: -.4em;
    right: -1.6em;
  }

  ~ .brand-speech {
    margin-top: .6rem;
  }
}


//
// Brand speech
//

.brand-speech {
  text-shadow: 0 .06rem 0 rgba(0, 0, 0, .2);
}
