// Card
//


//
// Custom cards
//

.card {
  .list-transactions {
    overflow: auto;
  }

  &--first-transactions {
    color: $gray-500;
    text-align: center;
    border-style: dashed;
    border-width: .14rem;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;

    .-choice {
      display: none;
    }

    &.card--first-transactions--choice-add,
    &.card--first-transactions--choice-import {
      .ft-choices-buttons {
        display: none;
      }
    }

    &.card--first-transactions--choice-add {
      .-choice-add {
        display: block;
      }
    }

    &.card--first-transactions--choice-import {
      .-choice-import {
        display: block;
      }
    }
  }
}


//
// Responsive
//

@include media-breakpoint-up(sm) {
  .card {
    .list-transactions {
      max-height: 28rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .card {
    .list-transactions {
      max-height: 25rem;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .card {
    .list-transactions {
      max-height: 35rem;
    }
  }
}
