// Creation center, bottom right button to create new entities
//

$cc-drop-shadow-size: 24rem;

.app-creation-center {
  text-align: right;
  position: fixed;
  z-index: 90;
  bottom: .8rem;
  right: .8rem;
  left: 0;
  pointer-events: none;

  &.show {
    .btn-toggler {
      &:after {
        transform: scale(1);
        opacity: 1;
      }
    }
    .list-actions {
      opacity: 1;
      pointer-events: auto;
    }
  }

  > .-inner {
    max-width: map-get($container-max-widths, "xxl") + $grid-gutter-width * 2;
    padding: 0;
    margin: 0 auto;
    position: relative;
  }

  .btn-toggler {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    border-radius: 50%;
    padding: 1rem;
    pointer-events: auto;
    height: 4rem;
    width: 4rem;
    position: relative;
    
    // Drop-shadow on active
    &:after {
      content: '';
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      margin-top: -$cc-drop-shadow-size / 2;
      margin-left: -$cc-drop-shadow-size / 2;
      height: $cc-drop-shadow-size;
      width: $cc-drop-shadow-size;
      border-radius: 50%;
      transform: scale(.8);
      opacity: 0;
      transition: transform $animation-duration ease,
        opacity $animation-duration ease;
      pointer-events: none;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .list-actions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 100%;
    margin-bottom: .6rem;
    right: .8rem;
    opacity: 0;
    transition: opacity $animation-duration ease;

    .-item + .-item {
      margin-top: .5rem;
    }
  }
}


//
// Responsive
//

@include media-breakpoint-up(lg) {
  .app-creation-center {
    .btn-toggler {
      padding: 1.05rem 1.2rem 1.2rem;
    }
  }
}