// Footer
//

.app-footer {
  background-color: rgba(0, 0, 0, .025);
  color: $gray-500;
  font-size: .75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: .75;
  transition: opacity 400ms ease;
  margin-top: 1.8rem;

  &:hover {
    opacity: 1;
  }

  .list-inline {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list-inline-item {
    &:not(:first-child) {
      &:before {
        content: '';
        background-color: currentcolor;
        opacity: .5;
        display: inline-block;
        vertical-align: middle;
        height: .2rem;
        width: .2rem;
        border-radius: 50%;
        margin-top: -.22rem;
        margin-right: $list-inline-padding;
      }
    }
  }

  a {
    color: $gray-600;

    &:hover {
      color: $gray-700;
    }
  }
}


.footer-item {
  &--author {
    margin-top: .25rem;
  }
}



//
// Responsive
//

@include media-breakpoint-up(md) {
  .footer-item {
    &--left {
      text-align: left;
      width: 50%;
      float: left;
    }

    &--right {
      text-align: right;
      width: 50%;
      float: right;
    }


    &--author {
      margin-top: 0;
    }
  }
}



//
// Print
//

@media print {
  .app-footer {
    display: none;
  }
}
