// Grid
//


//
// Vertical container
//

.vertical-col-illustration {
  background: $vertical-illustration-bg;
  color: $vertical-illustration-color;
  text-align: center;
  padding: 3.2rem 1rem 2.8rem 1rem;
  position: relative;
  z-index: 5;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 3.6rem .4rem darken($vertical-illustration-bg, 10%);
  }

  > ._inner {
    position: relative;
    z-index: 10;
  }

  .brand-logo {
    font-size: 2.8rem;
  }
}

.vertical-col-content {
  background-color: $vertical-content-bg;
  padding: 1.6rem 1.4rem;

  > ._inner {
    margin: 0 auto;
  }
}



//
// Responsive
//


@include media-breakpoint-up(md) {
  .vertical-container {
    ~ .app-footer {
      position: sticky;
      z-index: 1;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      margin-top: 0;
    }
  }

  .vertical-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .vertical-col {
    display: table-cell;
    vertical-align: middle;
  }

  .vertical-col-illustration {
    width: 50%;

    &:after {
      left: auto;
      top: 0;
    }

    > ._inner {
      margin-top: -4rem;
      width: 50%;
      position: fixed;
      top: 50%;
      left: 0;
    }
  }

  .vertical-col-content {
    > ._inner {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}


@include media-breakpoint-up(lg) {
  .vertical-col-illustration {
    &, > ._inner {
      width: 42%;
    }
  }

  .vertical-col-content {
    > ._inner {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
}


@include media-breakpoint-up(xl) {
  .vertical-col-illustration {
    &, > ._inner {
      width: 38%;
    }
  }

  .vertical-col-content {
    > ._inner {
      margin-left: 6rem;
      margin-right: 6rem;
    }
  }
}
