// Header
//

.app-header {
  background-color: $header-bg;
  color: $header-color;
  margin-bottom: 1.6rem;
  // loading animation
  position: relative;
  top: 0;
  opacity: 1;
  transition:
    opacity $animation-duration*1.5 ease $animation-duration/2,
    top $animation-duration*1.5 ease;
}


// Header title part

.header-title {
  padding-top: $header-title-padding-top;
  padding-bottom: $header-title-padding-bottom;
  border-top: 2px solid lighten($header-bg, 5%);
  margin-top: .2rem;

  .page-header {
    color: inherit;
    font-size: 2rem;
    margin-bottom: $header-title-margin-bottom;
  }
}



//
// Responsive
//


@include media-breakpoint-up(md) {
  // Header title part
  .header-title {
    padding-top: $header-title-padding-top-md;
    padding-bottom: $header-title-padding-bottom-md;

    .page-header {
      margin-bottom: $header-title-margin-bottom-md;
    }
  }
}


@include media-breakpoint-up(lg) {
  // Header title part
  .header-title {
    padding-top: $header-title-padding-top-lg;
    padding-bottom: $header-title-padding-bottom-lg;

    .page-header {
      font-size: 2.4rem;
      margin-bottom: $header-title-margin-bottom-lg;
    }
  }
}


@include media-breakpoint-up(xl) {
  .header-title {
    padding-top: $header-title-padding-top-xl;
    padding-bottom: $header-title-padding-bottom-xl;
  }
}
