// Lists
//

// Transactions
.list-transactions {
  .-item {
    border-bottom: $list-trans-border-width solid $card-border-color;
    padding: .6rem 1rem;

    &:last-child {
      border-bottom: 0;
    }
  }

  .-item-date {
    background-color: $list-trans--item-date-bg;
    color: $gray-600;
    font-weight: bold;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 5;
  }

  .-item-transac {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    overflow: hidden;

    /*+ .-item-date {
      margin-top: -$list-trans-border-width;
      border-top: $list-trans-border-width solid $card-border-color;
    }*/
  }
}

.-item-transac {
  &:hover {
    .col {
      &-more {
        right: 1rem;
        opacity: 1;
        transition:
          opacity $animation-duration ease $animation-duration/2,
          right $animation-duration*1.25 ease;
      }
    }
  }

  .col {
    &-icon {
      font-size: $list-trans--col-icon-size;
      text-align: center;
      padding-left: 0;
      padding-right: 0;

      .avatar {
        font-size: $list-trans--col-icon-avatar-size;
      }
    }

    &-text {
      line-height: 1.2em;
      .-more-info {
        display: none;
        line-height: 1.1em;
      }
    }

    &-repeat-type {
      padding-right: 1.4em;
      max-width: $list-trans--col-repeat-type-max-width;
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        right: 0;
      }
    }

    &-price {
      text-align: right;
      max-width: $list-trans--col-price-max-width;
      padding-right: 0;
      padding-left: 0;
    }

    &-more {
      background-color: $card-bg;
      // max-width: $list-trans--col-more-max-width;
      width: auto;
      padding: .2rem;
      position: absolute;
      right: -6rem;
      opacity: 0;
      box-shadow: -.2rem 0 .6rem .2rem $card-bg;
      backdrop-filter: blur(2px);
        transition:
          opacity $animation-duration ease,
          right $animation-duration*4 ease;
    }
  }
}

// Features
.list-features {
  list-style: none;
  padding: 0;
  margin: 0;

  .-item {
    cursor: default;
    &:hover, &:focus {
      .-icon {
        background-color: $white;
        color: $primary;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
      }
      .-text {
        opacity: .7;
      }
    }
  }

  .-icon {
    background-color: lighten($dark, 6%);
    color: lighten($dark, 26%);
    font-size: 2.2rem;
    line-height: 1;
    border-radius: 50%;
    display: inline-block;
    padding: .8rem;
    height: 4rem;
    width: 4rem;
    margin-bottom: .4rem;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .025);
    transition: background-color $animation-duration ease,
      color $animation-duration ease,
      box-shadow $animation-duration ease;
  }
  .-title {
    font-size: 1.4rem;
  }
  .-text {
    font-size: .8rem;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .4;
    transition: opacity $animation-duration ease;
  }
}

//
// Responsive
//

@include media-breakpoint-up(md) {
  .-item-transac {
    .col {
      &-icon {
        font-size: $list-trans--col-icon-size-md;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .-item-transac {
    .col {
      &-text {
        .-more-info {
          display: block;
        }
      }
    }
  }
}
