// Modal
//


// Effects on body children when modal is open (eg. blur effect)
.modal-open {
  .app-header, .app-body, .app-footer {
    filter: blur($modal-open-blur-size);
  }

  .app-header {
    position: relative;
    &:before {
      content: "";
      background-color: $header-bg;
      position: absolute;
      top: -10%;
      left: -5%;
      right: -5%;
      bottom: 0;
    }
  }
}

.modal-manage-entity {
  &.-is-loading {
    > form {
      pointer-events: none;
    }
  }

  .d-edit-block,
  .d-edit-inline-block {
    display: none;
  }

  &.-is-edit {
    .d-add-block,
    .d-add-inline-block,
    .d-edit-none {
      display: none;
    }
    .d-edit-block {
      display: block;
    }
    .d-edit-inline-block {
      display: inline-block;
    }
  }
}