// Navbars
//


//
// Navbar elements

.nav-item {
  .icon {
    font-size: 1.2em;
    position: relative;
    top: .125rem;
  }

  + .nav-item {
    margin-top: .6rem;
  }
}


//
// Default theme

.navbar-default {
  background-color: $navbar-default-bg;
  color: $navbar-default-color;

  .navbar-brand {
    color: $navbar-default-active-color;
    margin-right: .5rem;

    @include hover-focus {
      color: $navbar-default-active-color;
    }
  }

  .navbar-collapse {
    overflow: visible;
    position: relative;
    z-index: 0;

    &:before {
      content: '';
      background-color: darken($navbar-default-bg, 3%);
      position: absolute;
      top: .7rem;
      left: -100%;
      right: -100%;
      bottom: 0;
    }

    &.show {
      .navbar-nav {
        opacity: 1;
        transition: opacity $animation-duration ease 40ms;
      }
    }
  }

  .navbar-nav {
    font-size: 1.2rem;
    padding: 1.6rem 0 1rem;
    position: relative;
    z-index: 5;
    overflow: hidden;
    opacity: 0;
    transition: opacity 100ms ease;

    .nav-link {
      color: $navbar-default-color;
      padding-left: .75rem;
      padding-right: .75rem;

      @include hover-focus {
        color: $navbar-default-hover-color;
      }

      &.disabled {
        color: $navbar-default-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      background-color: $navbar-default-active-bg;
      color: $navbar-default-active-color;
      border-radius: .4rem;
    }
  }

  .navbar-toggler {
    color: $navbar-default-color;
    border-width: 0;
    padding: .5rem .25rem;
    width: 2.215rem;
  }

  .navbar-toggler-icon {
    position: relative;
    z-index: 0;
    height: $navbar-default-toggler-lines-height;
    top: -$navbar-default-toggler-lines-height;

    &, &:after, &:before {
      background-color: currentColor;
      border-radius: .2rem;
      width: 100%;
    }

    &:after, &:before {
      content: '';
      height: $navbar-default-toggler-lines-height;
      position: absolute;
      left: 0;
      right: 0;
    }

    &:before {
      top: -$navbar-default-toggler-lines-spacing;
    }

    &:after {
      bottom: -$navbar-default-toggler-lines-spacing;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
    a {
      color: $navbar-default-active-color;

      @include hover-focus {
        color: $navbar-default-active-color;
      }
    }
  }

  .border,
  .border-top, .border-right,
  .border-bottom, .border-left {
    border-color: $navbar-default-border-color !important;
  }
}


// Bank account

.navbar-bank-account {
  line-height: 1.2;

  .bank-account-label {
    color: $light;
    max-width: 7.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bank-account-balance {
    font-size: .84rem;
  }
}




//
// Responsive
//


@include media-breakpoint-up(sm) {
  // Bank account
  .navbar-bank-account {
    .bank-account-label {
      max-width: 8rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  // Fix padding on mobile mode (< 575.98px)
  .navbar {
    > .container,
    > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  // Bank account
  .navbar-bank-account {
    .bank-account-label {
      max-width: 10rem;
    }
  }

  // Navbar & elements
  .navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .navbar-nav {
      font-size: 1rem;
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }
    }

    // For nesting containers, have to redeclare for alignment purposes
    > .container,
    > .container-fluid {
      flex-wrap: nowrap;
    }

    .navbar-collapse {
      display: flex !important;  // stylelint-disable-line declaration-no-important

      // Changes flex-bases to auto because of an IE10 bug
      flex-basis: auto;
    }

    .navbar-toggler {
      display: none;
    }
  }

  .nav-item {
    .icon {
      margin-right: .2rem;
    }

    + .nav-item {
      margin-left: .8rem;
      margin-top: 0;
    }
  }

  // Default theme
  .navbar-default {
    .navbar-collapse {
      &:before {
        display: none;
      }
    }

    .navbar-nav {
      padding: 0;
      opacity: 1;
    }
  }
}


@include media-breakpoint-up(lg) {
  // Bank account
  .navbar-bank-account {
    .bank-account-label {
      max-width: 16rem;
    }
  }

  // Navbar elements
  .navbar {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;

    .navbar-nav {
      .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }

  .nav-item {
    + .nav-item { margin-left: 1rem; }
  }

  // Default theme
  .navbar-default {
    .navbar-brand {
      margin-right: .8rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  // Bank account
  .navbar-bank-account {
    .bank-account-label {
      max-width: 20rem;
    }
  }

  // Navbar elements
  .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .nav-item {
    + .nav-item { margin-left: 1.6rem; }
  }

  // Default theme
  .navbar-default {
    .navbar-brand {
      font-size: 1.8rem;
      margin-right: 1.2rem;
    }
  }
}
