// Panel
//

.app-core {
  &.app-panel--transaction-form--show {
    .app-panel--transaction-form {
      opacity: 1;
      transform: scale(1);
      bottom: 0;
      pointer-events: auto;
      transition: opacity $animation-duration ease $animation-duration/2,
        bottom $animation-duration ease $animation-duration/2,
        transform $animation-duration ease;
    }
  }
}

.app-panel {
  background-color: $panel-bg;
  color: $panel-color;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: opacity $animation-duration ease,
    bottom $animation-duration ease,
    transform $animation-duration ease $animation-duration/2;
  // hide panel
  transform: scale(.5);
  bottom: -4rem;
  opacity: 0;
  pointer-events: none;

  > .-inner {
    padding: 1rem;
  }
}
