// Type
//



// Root

:root {
    font-size: 14px;
}



// Header

.page-header {
    font-family: $page-header-font-family;
    color: $page-header-color;
    margin-bottom: .6em;

    &:after {
        content: '';
        background: $brand-color linear-gradient(90deg, $brand-color 50%, darken($brand-color, 7%) 50%) repeat-x;
        display: block;
        height: $page-header-decoration-height;
        width: $page-header-decoration-width;
        margin-top: .2em;
        border-radius: .4em;
    }
}



// Muted

.text-muted {
    opacity: $text-muted-opacity;
}



// Price

.text-price {
    font-family: $price-font-family;
}



// Required

.required {
    &:after, &:before {
        color: $red;
        font-weight: bold;
        font-size: .75rem;
        position: relative;
        top: -.15rem;
    }

    &:after { content: ' *'; }

    &--prepend {
        &:after { content: ''; }
        &:before { content: '* '; }
    }
}


//
// Responsive
//

@include media-breakpoint-up(lg) {
    :root {
        font-size: 16px;
    }
}


// @include media-breakpoint-up(xl) {
//   :root {
//     font-size: 18px;
//   }
// }
