// Kakeibo's default theme variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.




// --------------------------------------
// Bootstrap's variables ----------------


//
// Color system
//

$white:         #fff !default;
$gray-100:      #f8f9fa !default;
$gray-200:      #e9ecef !default;
// $gray-300:  #dee2e6 !default;
// $gray-400:  #ced4da !default;
// $gray-500:  #adb5bd !default;
$gray-600:      #6c7b7d !default;
$gray-700:      #495457 !default;
$gray-800:      #343d40 !default;
// $gray-900:  #212529 !default;
$black:         #000 !default;

// $purple:      #6f42c1 !default;
$primary:     #1abc9c !default; //#3ecc9e !default; // #7bc755 !default;
$light:       $gray-100 !default;
$dark:        $gray-800 !default;

$red:     #ee5253;
$orange:  #ff9f43;
$yellow:  #feca57;
$green:   #2ecc71;
$cyan:    #00a8ff;
$teal:    #1dd1a1;

$body-bg:     $gray-100 !default;
$body-color:  $gray-800 !default;


$border-radius:     .375rem !default;
$border-radius-lg:  .5rem !default;
$border-radius-sm:  .25rem !default;


// Fonts
$font-family-base:          "Cabin", Arial, sans-serif;

$text-muted:                inherit !default;
$text-muted-opacity:        .6 !default;

$hr-border-color:           rgba($black, .05) !default;



// Header
$header-bg:                     $dark !default;
$header-color:                  $white !default;
$header-title-padding-y:        .8rem;
$header-title-padding-y-md:     1rem;
$header-title-padding-y-lg:     1rem;
$header-title-padding-top:        1rem;
$header-title-padding-top-md:     1.4rem;
$header-title-padding-top-lg:     1.6rem;
$header-title-padding-top-xl:     2rem;
$header-title-padding-bottom:     .8rem;
$header-title-padding-bottom-md:  1rem;
$header-title-padding-bottom-lg:  1rem;
$header-title-padding-bottom-xl:  1rem;
$header-title-margin-bottom:    .6rem;
$header-title-margin-bottom-md: .8rem;
$header-title-margin-bottom-lg: 1rem;


// Navbar
$navbar-brand-font-size: 1.6rem !default;

// Navbar Default
$navbar-default-bg:                     $header-bg !default;
$navbar-default-color:                  rgba($white, .75) !default;
$navbar-default-border-color:           rgba($white, .15) !default;
$navbar-default-hover-color:            rgba($white, .95) !default;
$navbar-default-active-color:           $white !default;
$navbar-default-disabled-color:         rgba($white, .25) !default;
$navbar-default-toggler-border-color:   rgba($white, .1) !default;
$navbar-default-toggler-lines-height:   .15rem;



// Cards
$card-border-color:     rgba($black, .075) !default;
$card-border-radius:    $border-radius-lg !default;



// Dropdowns
$dropdown-border-color: rgba($black, .075) !default;



// Text selection
$text-selection-bg:     rgba($primary, .5) !default;



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);


// Bootstrap's variables ----------------
// --------------------------------------




// --------------------------------------
// Kakeibo's variables ------------------


//
// Globals
//

$animation-duration: 400ms;



//
// Type
//

// Page header
$page-header-font-family:       "Arvo", "Times New Roman", serif !default;
$page-header-color:             $dark !default;
$page-header-decoration-width:  2.8em !default;
$page-header-decoration-height: .16em !default;

// Price text
$price-font-family: "Roboto Mono", monospace !default;



//
// Brand
//

$brand-color:       $primary !default;
$brand-font-family: "Montserrat", cursive !default;



//
// Vertical page & blocks
//

$vertical-illustration-bg:     $dark !default;
$vertical-illustration-color:  $white !default;
$vertical-content-bg:          $body-bg !default;



//
// Panel
//

$panel-bg:      $dark !default;
$panel-color:   $white !default;



//
// List
//

// Transactions list
$list-trans-border-width:             1px !default;
// Trans:Item
$list-trans--item-date-bg:            $light !default;
// Trans:Columns:Icon
$list-trans--col-icon-size:           1rem !default;
$list-trans--col-icon-size-md:        1.2rem !default;
$list-trans--col-icon-avatar-size:    .778em !default;
// Trans:Columns:Price
$list-trans--col-price-max-width:     6.4em !default;
// Trans:Columns:More
$list-trans--col-more-max-width:      2.2em !default;



// Kakeibo's variables ------------------
// --------------------------------------
