<h2 class="h3" id="alerts">Alerts</h2>
<p class="text-muted">Lorem ipsum !</p>

{% for color in theme_colors %}
  <div class="alert alert-{{ color }}">
    .alert.alert-{{ color }}
  </div>
{% endfor %}

<hr class="my-5">
