.icon-at-sign {
  &:before {
    content: $icon-at-sign;
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-command {
  &:before {
    content: $icon-command;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-security {
  &:before {
    content: $icon-security;
  }
}
.icon-rotate-right {
  &:before {
    content: $icon-rotate-right;
  }
}
.icon-travel-bus {
  &:before {
    content: $icon-travel-bus;
  }
}
.icon-travel-car {
  &:before {
    content: $icon-travel-car;
  }
}
.icon-gas-station {
  &:before {
    content: $icon-gas-station;
  }
}
.icon-hospital {
  &:before {
    content: $icon-hospital;
  }
}
.icon-food {
  &:before {
    content: $icon-food;
  }
}
.icon-bank {
  &:before {
    content: $icon-bank;
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-gift {
  &:before {
    content: $icon-gift;
  }
}
.icon-cases {
  &:before {
    content: $icon-cases;
  }
}
.icon-housing {
  &:before {
    content: $icon-housing;
  }
}
.icon-clothes {
  &:before {
    content: $icon-clothes;
  }
}
.icon-nightlife {
  &:before {
    content: $icon-nightlife;
  }
}
.icon-donation {
  &:before {
    content: $icon-donation;
  }
}
