.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-at-sign {
  &:before {
    content: $icon-at-sign;
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-command {
  &:before {
    content: $icon-command;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-apparel {
  &:before {
    content: $icon-apparel;
  }
}
.icon-beverage {
  &:before {
    content: $icon-beverage;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-currency-dollar {
  &:before {
    content: $icon-currency-dollar;
  }
}
.icon-gift {
  &:before {
    content: $icon-gift;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-library {
  &:before {
    content: $icon-library;
  }
}
.icon-light-bulb {
  &:before {
    content: $icon-light-bulb;
  }
}
.icon-food {
  &:before {
    content: $icon-food;
  }
}
.icon-gas-station {
  &:before {
    content: $icon-gas-station;
  }
}
.icon-marina {
  &:before {
    content: $icon-marina;
  }
}
.icon-portfolio {
  &:before {
    content: $icon-portfolio;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.icon-stethoscope {
  &:before {
    content: $icon-stethoscope;
  }
}
.icon-travel-bus {
  &:before {
    content: $icon-travel-bus;
  }
}
.icon-travel-car {
  &:before {
    content: $icon-travel-car;
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}
.icon-yin-yang {
  &:before {
    content: $icon-yin-yang;
  }
}
