.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-apple {
  &:before {
    content: $icon-apple;
  }
}
.icon-ios {
  &:before {
    content: $icon-ios;
  }
}
.icon-microsoft {
  &:before {
    content: $icon-microsoft;
  }
}
.icon-album {
  &:before {
    content: $icon-album;
  }
}
.icon-mic {
  &:before {
    content: $icon-mic;
  }
}
.icon-smartphone {
  &:before {
    content: $icon-smartphone;
  }
}
.icon-paint {
  &:before {
    content: $icon-paint;
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}
.icon-desktop {
  &:before {
    content: $icon-desktop;
  }
}
.icon-security {
  &:before {
    content: $icon-security;
  }
}
.icon-tablet {
  &:before {
    content: $icon-tablet;
  }
}
.icon-videogame {
  &:before {
    content: $icon-videogame;
  }
}
.icon-bike {
  &:before {
    content: $icon-bike;
  }
}
.icon-travel-bus {
  &:before {
    content: $icon-travel-bus;
  }
}
.icon-travel-car {
  &:before {
    content: $icon-travel-car;
  }
}
.icon-travel-boat {
  &:before {
    content: $icon-travel-boat;
  }
}
.icon-train-alt {
  &:before {
    content: $icon-train-alt;
  }
}
.icon-hotel {
  &:before {
    content: $icon-hotel;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-bar {
  &:before {
    content: $icon-bar;
  }
}
.icon-gas-station {
  &:before {
    content: $icon-gas-station;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-hospital {
  &:before {
    content: $icon-hospital;
  }
}
.icon-laundry {
  &:before {
    content: $icon-laundry;
  }
}
.icon-pizza {
  &:before {
    content: $icon-pizza;
  }
}
.icon-travel-truck {
  &:before {
    content: $icon-travel-truck;
  }
}
.icon-travel-taxi {
  &:before {
    content: $icon-travel-taxi;
  }
}
.icon-store {
  &:before {
    content: $icon-store;
  }
}
.icon-food {
  &:before {
    content: $icon-food;
  }
}
.icon-ev-station {
  &:before {
    content: $icon-ev-station;
  }
}
.icon-train {
  &:before {
    content: $icon-train;
  }
}
.icon-tram {
  &:before {
    content: $icon-tram;
  }
}
.icon-fastfood {
  &:before {
    content: $icon-fastfood;
  }
}
.icon-sync-problem {
  &:before {
    content: $icon-sync-problem;
  }
}
.icon-airline-seat {
  &:before {
    content: $icon-airline-seat;
  }
}
.icon-cake {
  &:before {
    content: $icon-cake;
  }
}
.icon-city {
  &:before {
    content: $icon-city;
  }
}
.icon-earth {
  &:before {
    content: $icon-earth;
  }
}
.icon-star-alt {
  &:before {
    content: $icon-star-alt;
  }
}
.icon-bank {
  &:before {
    content: $icon-bank;
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}
.icon-assignment-individual {
  &:before {
    content: $icon-assignment-individual;
  }
}
.icon-build {
  &:before {
    content: $icon-build;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-house {
  &:before {
    content: $icon-house;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-gift {
  &:before {
    content: $icon-gift;
  }
}
.icon-flight-land {
  &:before {
    content: $icon-flight-land;
  }
}
.icon-flight-takeoff {
  &:before {
    content: $icon-flight-takeoff;
  }
}
.icon-gavel {
  &:before {
    content: $icon-gavel;
  }
}
.icon-lightbulb-outline {
  &:before {
    content: $icon-lightbulb-outline;
  }
}
.icon-opacity {
  &:before {
    content: $icon-opacity;
  }
}
.icon-pets {
  &:before {
    content: $icon-pets;
  }
}
.icon-rowing {
  &:before {
    content: $icon-rowing;
  }
}
.icon-accessible-forward {
  &:before {
    content: $icon-accessible-forward;
  }
}
.icon-supervised-user-circle {
  &:before {
    content: $icon-supervised-user-circle;
  }
}
.icon-commute {
  &:before {
    content: $icon-commute;
  }
}
.icon-cases {
  &:before {
    content: $icon-cases;
  }
}
.icon-hail {
  &:before {
    content: $icon-hail;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-two-wheelers {
  &:before {
    content: $icon-two-wheelers;
  }
}
.icon-housing {
  &:before {
    content: $icon-housing;
  }
}
.icon-storefront {
  &:before {
    content: $icon-storefront;
  }
}
.icon-nature {
  &:before {
    content: $icon-nature;
  }
}
.icon-sports-basketball {
  &:before {
    content: $icon-sports-basketball;
  }
}
.icon-sports-cricket {
  &:before {
    content: $icon-sports-cricket;
  }
}
.icon-gaming {
  &:before {
    content: $icon-gaming;
  }
}
.icon-sports-football {
  &:before {
    content: $icon-sports-football;
  }
}
.icon-sports-golf {
  &:before {
    content: $icon-sports-golf;
  }
}
.icon-sports-hockey {
  &:before {
    content: $icon-sports-hockey;
  }
}
.icon-sports-mma {
  &:before {
    content: $icon-sports-mma;
  }
}
.icon-sports-motorsports {
  &:before {
    content: $icon-sports-motorsports;
  }
}
.icon-sports-rugby {
  &:before {
    content: $icon-sports-rugby;
  }
}
.icon-sports-soccer {
  &:before {
    content: $icon-sports-soccer;
  }
}
.icon-sports-volleyball {
  &:before {
    content: $icon-sports-volleyball;
  }
}
.icon-sports-tennis {
  &:before {
    content: $icon-sports-tennis;
  }
}
.icon-sports-handball {
  &:before {
    content: $icon-sports-handball;
  }
}
.icon-sports-kabaddi {
  &:before {
    content: $icon-sports-kabaddi;
  }
}
.icon-eco {
  &:before {
    content: $icon-eco;
  }
}
.icon-apartment {
  &:before {
    content: $icon-apartment;
  }
}
.icon-deck {
  &:before {
    content: $icon-deck;
  }
}
.icon-king-bed {
  &:before {
    content: $icon-king-bed;
  }
}
.icon-sports-baseball {
  &:before {
    content: $icon-sports-baseball;
  }
}
.icon-attractions {
  &:before {
    content: $icon-attractions;
  }
}
.icon-croissant {
  &:before {
    content: $icon-croissant;
  }
}
.icon-dinner-dining {
  &:before {
    content: $icon-dinner-dining;
  }
}
.icon-clothes {
  &:before {
    content: $icon-clothes;
  }
}
.icon-hammer {
  &:before {
    content: $icon-hammer;
  }
}
.icon-liquor {
  &:before {
    content: $icon-liquor;
  }
}
.icon-lunch-dining {
  &:before {
    content: $icon-lunch-dining;
  }
}
.icon-nightlife {
  &:before {
    content: $icon-nightlife;
  }
}
.icon-ramen-dining {
  &:before {
    content: $icon-ramen-dining;
  }
}
.icon-celebration {
  &:before {
    content: $icon-celebration;
  }
}
.icon-icecream {
  &:before {
    content: $icon-icecream;
  }
}
.icon-donation {
  &:before {
    content: $icon-donation;
  }
}
.icon-beach {
  &:before {
    content: $icon-beach;
  }
}
.icon-business-case {
  &:before {
    content: $icon-business-case;
  }
}
.icon-fitness-center {
  &:before {
    content: $icon-fitness-center;
  }
}
.icon-golf-course {
  &:before {
    content: $icon-golf-course;
  }
}
.icon-hot-tub {
  &:before {
    content: $icon-hot-tub;
  }
}
.icon-kitchen {
  &:before {
    content: $icon-kitchen;
  }
}
.icon-pool {
  &:before {
    content: $icon-pool;
  }
}
.icon-room-service {
  &:before {
    content: $icon-room-service;
  }
}
.icon-smoking {
  &:before {
    content: $icon-smoking;
  }
}
.icon-spa {
  &:before {
    content: $icon-spa;
  }
}
.icon-agriculture {
  &:before {
    content: $icon-agriculture;
  }
}
.icon-shiny {
  &:before {
    content: $icon-shiny;
  }
}
.icon-magic {
  &:before {
    content: $icon-magic;
  }
}
.icon-baby-changing-station {
  &:before {
    content: $icon-baby-changing-station;
  }
}
.icon-moon {
  &:before {
    content: $icon-moon;
  }
}
.icon-calculate {
  &:before {
    content: $icon-calculate;
  }
}
.icon-carpenter {
  &:before {
    content: $icon-carpenter;
  }
}
.icon-construction {
  &:before {
    content: $icon-construction;
  }
}
.icon-electric-bike {
  &:before {
    content: $icon-electric-bike;
  }
}
.icon-electric-car {
  &:before {
    content: $icon-electric-car;
  }
}
.icon-electric-moped {
  &:before {
    content: $icon-electric-moped;
  }
}
.icon-electric-rickshaw {
  &:before {
    content: $icon-electric-rickshaw;
  }
}
.icon-electric-scooter {
  &:before {
    content: $icon-electric-scooter;
  }
}
.icon-hairdresser {
  &:before {
    content: $icon-hairdresser;
  }
}
.icon-family {
  &:before {
    content: $icon-family;
  }
}
.icon-grass {
  &:before {
    content: $icon-grass;
  }
}
.icon-handyman {
  &:before {
    content: $icon-handyman;
  }
}
.icon-repair-case {
  &:before {
    content: $icon-repair-case;
  }
}
.icon-medical-case {
  &:before {
    content: $icon-medical-case;
  }
}
.icon-mic-external {
  &:before {
    content: $icon-mic-external;
  }
}
.icon-moped {
  &:before {
    content: $icon-moped;
  }
}
.icon-pedal-bike {
  &:before {
    content: $icon-pedal-bike;
  }
}
.icon-plumbing {
  &:before {
    content: $icon-plumbing;
  }
}
.icon-support {
  &:before {
    content: $icon-support;
  }
}
.icon-luggage {
  &:before {
    content: $icon-luggage;
  }
}
.icon-alert-circle {
  &:before {
    content: $icon-alert-circle;
  }
}
.icon-alert-octagon {
  &:before {
    content: $icon-alert-octagon;
  }
}
.icon-alert-triangle {
  &:before {
    content: $icon-alert-triangle;
  }
}
.icon-archive {
  &:before {
    content: $icon-archive;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-down-circle {
  &:before {
    content: $icon-arrow-down-circle;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-left-circle {
  &:before {
    content: $icon-arrow-left-circle;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-right-circle {
  &:before {
    content: $icon-arrow-right-circle;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-up-circle {
  &:before {
    content: $icon-arrow-up-circle;
  }
}
.icon-at-sign {
  &:before {
    content: $icon-at-sign;
  }
}
.icon-award {
  &:before {
    content: $icon-award;
  }
}
.icon-bar-chart-asc {
  &:before {
    content: $icon-bar-chart-asc;
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-bell-off {
  &:before {
    content: $icon-bell-off;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-book-open {
  &:before {
    content: $icon-book-open;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-camera-off {
  &:before {
    content: $icon-camera-off;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-check-square {
  &:before {
    content: $icon-check-square;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-chevrons-down {
  &:before {
    content: $icon-chevrons-down;
  }
}
.icon-chevrons-left {
  &:before {
    content: $icon-chevrons-left;
  }
}
.icon-chevrons-right {
  &:before {
    content: $icon-chevrons-right;
  }
}
.icon-chevrons-up {
  &:before {
    content: $icon-chevrons-up;
  }
}
.icon-circle {
  &:before {
    content: $icon-circle;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee;
  }
}
.icon-command {
  &:before {
    content: $icon-command;
  }
}
.icon-compass {
  &:before {
    content: $icon-compass;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-edit-alt {
  &:before {
    content: $icon-edit-alt;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-eye-off {
  &:before {
    content: $icon-eye-off;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-file-minus {
  &:before {
    content: $icon-file-minus;
  }
}
.icon-file-plus {
  &:before {
    content: $icon-file-plus;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-folder-minus {
  &:before {
    content: $icon-folder-minus;
  }
}
.icon-folder-plus {
  &:before {
    content: $icon-folder-plus;
  }
}
.icon-hash {
  &:before {
    content: $icon-hash;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-help-circle {
  &:before {
    content: $icon-help-circle;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-layers {
  &:before {
    content: $icon-layers;
  }
}
.icon-layout {
  &:before {
    content: $icon-layout;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-link-alt {
  &:before {
    content: $icon-link-alt;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-message-circle {
  &:before {
    content: $icon-message-circle;
  }
}
.icon-message-square {
  &:before {
    content: $icon-message-square;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.icon-package {
  &:before {
    content: $icon-package;
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-pause-circle {
  &:before {
    content: $icon-pause-circle;
  }
}
.icon-pie-chart {
  &:before {
    content: $icon-pie-chart;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-pocket {
  &:before {
    content: $icon-pocket;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-printer {
  &:before {
    content: $icon-printer;
  }
}
.icon-refresh-ccw {
  &:before {
    content: $icon-refresh-ccw;
  }
}
.icon-refresh-cw {
  &:before {
    content: $icon-refresh-cw;
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat;
  }
}
.icon-rotate-ccw {
  &:before {
    content: $icon-rotate-ccw;
  }
}
.icon-rotate-cw {
  &:before {
    content: $icon-rotate-cw;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-scissors {
  &:before {
    content: $icon-scissors;
  }
}
.icon-send {
  &:before {
    content: $icon-send;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-shield-off {
  &:before {
    content: $icon-shield-off;
  }
}
.icon-slash {
  &:before {
    content: $icon-slash;
  }
}
.icon-sliders {
  &:before {
    content: $icon-sliders;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-stop-circle {
  &:before {
    content: $icon-stop-circle;
  }
}
.icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal;
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-tool {
  &:before {
    content: $icon-tool;
  }
}
.icon-trash-empty {
  &:before {
    content: $icon-trash-empty;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-volume {
  &:before {
    content: $icon-volume;
  }
}
.icon-volume-1 {
  &:before {
    content: $icon-volume-1;
  }
}
.icon-volume-2 {
  &:before {
    content: $icon-volume-2;
  }
}
.icon-volume-x {
  &:before {
    content: $icon-volume-x;
  }
}
.icon-watch {
  &:before {
    content: $icon-watch;
  }
}
.icon-x-circle {
  &:before {
    content: $icon-x-circle;
  }
}
.icon-x-octagon {
  &:before {
    content: $icon-x-octagon;
  }
}
.icon-x-square {
  &:before {
    content: $icon-x-square;
  }
}
.icon-zap {
  &:before {
    content: $icon-zap;
  }
}
.icon-zap-off {
  &:before {
    content: $icon-zap-off;
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
