$icomoon-font-family: "kakeicon" !default;
$icomoon-font-path: "../../public/build/fonts/icomoon" !default;

$icon-android: "\e900";
$icon-apple: "\e901";
$icon-ios: "\e902";
$icon-microsoft: "\e903";
$icon-smartphone: "\e904";
$icon-laptop: "\e905";
$icon-desktop: "\e906";
$icon-security: "\e907";
$icon-tablet: "\e908";
$icon-rotate-right: "\e90a";
$icon-travel-bus: "\e90b";
$icon-travel-car: "\e90c";
$icon-gas-station: "\e90d";
$icon-cart: "\e90e";
$icon-hospital: "\e90f";
$icon-food: "\e910";
$icon-ev-station: "\e911";
$icon-fastfood: "\e912";
$icon-cake: "\e913";
$icon-earth: "\e914";
$icon-bank: "\e915";
$icon-wallet: "\e916";
$icon-credit-card: "\e917";
$icon-gift: "\e918";
$icon-gavel: "\e919";
$icon-pets: "\e91a";
$icon-cases: "\e91b";
$icon-housing: "\e91c";
$icon-gaming: "\e91d";
$icon-clothes: "\e91e";
$icon-hammer: "\e91f";
$icon-nightlife: "\e920";
$icon-donation: "\e921";
$icon-at-sign: "\e922";
$icon-bar-chart: "\e923";
$icon-chevron-down: "\e924";
$icon-chevron-left: "\e925";
$icon-chevron-right: "\e926";
$icon-chevron-up: "\e927";
$icon-clock: "\e928";
$icon-code: "\e929";
$icon-coffee: "\e92a";
$icon-command: "\e92b";
$icon-download: "\e92c";
$icon-edit: "\e92d";
$icon-help-circle: "\e92e";
$icon-home: "\e92f";
$icon-key: "\e930";
$icon-list: "\e931";
$icon-lock: "\e932";
$icon-log-in: "\e933";
$icon-log-out: "\e934";
$icon-pie-chart: "\e935";
$icon-plus-square: "\e936";
$icon-power: "\e937";
$icon-save: "\e938";
$icon-settings: "\e939";
$icon-sliders: "\e93a";
$icon-trash: "\e93b";
$icon-user: "\e93c";
$icon-watch: "\e909";
