$icomoon-font-family: "kakeicon" !default;
$icomoon-font-path: "../../public/build/fonts/icomoon" !default;

$icon-android: unquote('"\\e950"');
$icon-apple: unquote('"\\e94f"');
$icon-ios: unquote('"\\e951"');
$icon-microsoft: unquote('"\\e952"');
$icon-at-sign: unquote('"\\e918"');
$icon-bar-chart: unquote('"\\e92f"');
$icon-book: unquote('"\\e930"');
$icon-briefcase: unquote('"\\e953"');
$icon-camera: unquote('"\\e954"');
$icon-chevron-down: unquote('"\\e931"');
$icon-chevron-left: unquote('"\\e932"');
$icon-chevron-right: unquote('"\\e933"');
$icon-chevron-up: unquote('"\\e934"');
$icon-chevrons-down: unquote('"\\e956"');
$icon-chevrons-left: unquote('"\\e957"');
$icon-chevrons-right: unquote('"\\e958"');
$icon-chevrons-up: unquote('"\\e959"');
$icon-clock: unquote('"\\e935"');
$icon-code: unquote('"\\e936"');
$icon-coffee: unquote('"\\e937"');
$icon-command: unquote('"\\e938"');
$icon-download: unquote('"\\e939"');
$icon-edit: unquote('"\\e93a"');
$icon-folder-plus: unquote('"\\e93b"');
$icon-help-circle: unquote('"\\e93c"');
$icon-home: unquote('"\\e93d"');
$icon-key: unquote('"\\e93e"');
$icon-layers: unquote('"\\e955"');
$icon-list: unquote('"\\e93f"');
$icon-lock: unquote('"\\e940"');
$icon-log-in: unquote('"\\e941"');
$icon-log-out: unquote('"\\e942"');
$icon-pie-chart: unquote('"\\e94e"');
$icon-plus: unquote('"\\e94d"');
$icon-plus-square: unquote('"\\e94c"');
$icon-power: unquote('"\\e949"');
$icon-repeat: unquote('"\\e94b"');
$icon-save: unquote('"\\e94a"');
$icon-settings: unquote('"\\e948"');
$icon-sliders: unquote('"\\e943"');
$icon-star: unquote('"\\e906"');
$icon-tag: unquote('"\\e947"');
$icon-trash: unquote('"\\e944"');
$icon-user: unquote('"\\e945"');
$icon-watch: unquote('"\\e946"');
$icon-smartphone: unquote('"\\e900"');
$icon-paint: unquote('"\\e901"');
$icon-laptop: unquote('"\\e902"');
$icon-desktop: unquote('"\\e903"');
$icon-security: unquote('"\\e904"');
$icon-tablet: unquote('"\\e905"');
$icon-bike: unquote('"\\e907"');
$icon-travel-bus: unquote('"\\e908"');
$icon-travel-car: unquote('"\\e909"');
$icon-travel-boat: unquote('"\\e90a"');
$icon-gas-station: unquote('"\\e90b"');
$icon-cart: unquote('"\\e90c"');
$icon-hospital: unquote('"\\e90d"');
$icon-travel-taxi: unquote('"\\e92a"');
$icon-store: unquote('"\\e90e"');
$icon-food: unquote('"\\e90f"');
$icon-ev-station: unquote('"\\e910"');
$icon-train: unquote('"\\e911"');
$icon-tram: unquote('"\\e912"');
$icon-fastfood: unquote('"\\e913"');
$icon-cake: unquote('"\\e914"');
$icon-earth: unquote('"\\e915"');
$icon-bank: unquote('"\\e92b"');
$icon-wallet: unquote('"\\e916"');
$icon-credit-card: unquote('"\\e917"');
$icon-gift: unquote('"\\e919"');
$icon-flight-takeoff: unquote('"\\e91a"');
$icon-gavel: unquote('"\\e91b"');
$icon-pets: unquote('"\\e91c"');
$icon-cases: unquote('"\\e928"');
$icon-two-wheelers: unquote('"\\e91d"');
$icon-housing: unquote('"\\e929"');
$icon-storefront: unquote('"\\e92c"');
$icon-gaming: unquote('"\\e91e"');
$icon-apartment: unquote('"\\e92d"');
$icon-clothes: unquote('"\\e91f"');
$icon-hammer: unquote('"\\e920"');
$icon-nightlife: unquote('"\\e921"');
$icon-donation: unquote('"\\e922"');
$icon-smoking: unquote('"\\e923"');
$icon-spa: unquote('"\\e924"');
$icon-construction: unquote('"\\e925"');
$icon-electric-bike: unquote('"\\e926"');
$icon-electric-scooter: unquote('"\\e927"');
$icon-hairdresser: unquote('"\\e92e"');
