$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-at-sign: "\e91c";
$icon-bar-chart: "\e91d";
$icon-chevron-down: "\e91e";
$icon-chevron-left: "\e91f";
$icon-chevron-right: "\e920";
$icon-chevron-up: "\e921";
$icon-clock: "\e900";
$icon-code: "\e901";
$icon-coffee: "\e902";
$icon-command: "\e903";
$icon-download: "\e904";
$icon-edit: "\e905";
$icon-home: "\e906";
$icon-key: "\e907";
$icon-lock: "\e908";
$icon-log-in: "\e909";
$icon-log-out: "\e90a";
$icon-plus-square: "\e90b";
$icon-power: "\e927";
$icon-save: "\e90c";
$icon-cog: "\e90d";
$icon-settings: "\e922";
$icon-trash: "\e90e";
$icon-user: "\e90f";
$icon-security: "\e910";
$icon-rotate-right: "\e911";
$icon-travel-bus: "\e912";
$icon-travel-car: "\e913";
$icon-gas-station: "\e926";
$icon-hospital: "\e914";
$icon-food: "\e915";
$icon-bank: "\e916";
$icon-wallet: "\e917";
$icon-credit-card: "\e918";
$icon-gift: "\e919";
$icon-cases: "\e91a";
$icon-housing: "\e923";
$icon-clothes: "\e924";
$icon-nightlife: "\e91b";
$icon-donation: "\e925";
