// Kakeibo's dark theme variables
//



// Bootstrap's variables ----------------
// --------------------------------------


//
// Color system
//

$white:       #fff;

$purple:      #6f42c1;
// $primary:     $purple;
$dark:        #222;

$body-color:  #fff;
$body-bg:     lighten($dark, 4%);


// --------------------------------------
// Bootstrap's variables ----------------




// Kakeibo's variables ------------------
// --------------------------------------


//
// Type
//

// Page header
$page-header-color:             $white;


// --------------------------------------
// Kakeibo's variables ------------------
