
// Kakeibo's variables
@import 'kakeibo/variables';


//
// Bootstrap
//

@import 'bootstrap';



//
// Icomoon
//

// $icomoon-font-path: "/build/fonts/icomoon";
@import "icomoon/core";



//
// Kakeibo
//

// Bootstrap libs
@import 'kakeibo/reboot';
@import 'kakeibo/type';
@import 'kakeibo/grid';
@import "kakeibo/forms";
@import 'kakeibo/buttons';
@import 'kakeibo/dropdown';
@import 'kakeibo/navbar';
@import 'kakeibo/card';
@import 'kakeibo/modal';
@import 'kakeibo/tooltip';
@import 'kakeibo/utilities';
// Main Theme libs
@import 'kakeibo/core';
@import 'kakeibo/header';
@import 'kakeibo/brand';
@import 'kakeibo/avatar';
@import 'kakeibo/lists';
@import 'kakeibo/loader-icon';
@import 'kakeibo/more-dots';
@import 'kakeibo/creation-center';
@import 'kakeibo/chartjs';
@import 'kakeibo/footer';
// Specific pages styles
@import 'kakeibo/page-login';
@import 'kakeibo/page-register';
@import 'kakeibo/page-ignition';
