
// Kakeibo's variables
@import 'kakeibo/variables';


//
// Bootstrap
//

@import 'bootstrap';



//
// Icomoon
//

$icomoon-font-path: "/build/fonts/icomoon";
@import "icomoon/core";



//
// Kakeibo
//

@import 'kakeibo/reboot';
@import 'kakeibo/core';
@import 'kakeibo/header';
@import 'kakeibo/buttons';
@import 'kakeibo/card';
@import 'kakeibo/grid';
@import 'kakeibo/type';
@import 'kakeibo/brand';
@import 'kakeibo/avatar';
@import 'kakeibo/navbar';
@import 'kakeibo/dropdown';
@import 'kakeibo/footer';
// Specific pages styles
@import 'kakeibo/page-login';
@import 'kakeibo/page-register';
@import 'kakeibo/page-ignition';
