// Kakeibo / Home
//
@import "kakeibo/variables";
@import "kb-home/variables";

// Bootstrap stuff
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/jumbotron";


//
// Home
//

@import "kb-home/core";
@import "kb-home/header";
@import "kb-home/mockup";
@import "kb-home/jumbotron";
@import "kb-home/footer";



//
// Lists

.app-lists {
  .-list {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    padding: 0 .4em;
    margin: 0 .3em;

    + .-list {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        border: .125rem solid;
        border-radius: 50%;
        height: 0;
        width: 0;
        position: absolute;
        left: -.925rem;
        top: 50%;
        margin-top: -.125rem;
        opacity: .2;
      }
    }

    .-item {
      display: inline-block;
      padding: .2em .4em;
    }

    .-icon {
      display: block;
    }
  }
}



//
// Sections / "All platforms" section
.home-section--all-platforms {
  .-section-title {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: .4rem;
    opacity: .95;
  }

  .app-lists {
    font-size: 2rem;

    .-item {
      transition: opacity $animation-duration ease;
      opacity: .75;

      &:hover {
        opacity: .95;
      }
    }
  }
}



//
// Sections / "About" section
.home-section--about {
  .mockup--frame {
    text-align: center;
    max-width: 26rem;

    .-picture {
      filter: grayscale(1);
      opacity: .2;
    }

    .-icon {
      font-size: 6rem;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -3rem;
      margin-top: -3rem;
    }
  }
}



//
// Sections / "Features" section



//
// Responsive
//

@include media-breakpoint-up(sm) {
  //
  // Sections / "Features" section
  // .list-features {
  //   .-item {
  //     flex: 0 0 50%;
  //     max-width: 50%;
  //   }
  // }
}

@include media-breakpoint-up(md) {
  //
  // Sections / "Features" section
  // .list-features {
  //   .-item {
  //     flex: 0 0 25%;
  //     max-width: 25%;
  //   }
  // }
}
