{% extends 'base.html.twig' %}
{% set body_class = 'vertical-container' %}

{# Remove default flashes to change their position #}
{% block flashes %}{% endblock %}

{% block header %}{% endblock %}

{# Footer #}
{% block footer %}
  {% include 'components/footer.html.twig' with { 'full_width' : true } %}
{% endblock %}

{% block body %}
<div class="vertical-col vertical-col-illustration">
  <div class="_inner">
    {% block body_vertical_illus %}
      {% include 'components/logo.html.twig' with { custom_class : 'text-primary' } %}
      <div class="brand-speech">{{ 'global.speech'|trans }}</div>
    {% endblock %}
  </div>
</div>

<div class="vertical-col vertical-col-content">
  <div class="_inner">
    {% block body_vertical_content %}
      <h1 class="page-header" id="page-header">Hello world !</h1>
    {% endblock %}
  </div>
</div>
{% endblock %}
