{% set has_action_transaction = form_transaction is defined %}
{% set has_action_category = form_category is defined %}
{% set display_actions = (has_action_transaction or has_action_category) and hide_creation_center is not defined %}

{% if display_actions %}
  <div class="app-creation-center">
    <div class="-inner">
      <button class="btn btn-toggler btn-primary">
        <span class="icon icon-plus-square"></span>
      </button>
      <ul class="list-actions">
      {% if has_action_category %}
        <li class="-item">
          <button class="btn btn-sm btn-dark">
            catégorie
          </button>
        </li>
      {% endif %}
      {% if has_action_transaction %}
        <li class="-item">
          <button class="btn btn-sm btn-dark toggle-panel-transaction" type="button" name="button" data-panel-type="add">
            transaction
          </button>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>


  {# Add panel to add/edit transaction ONLY IF transaction form is defined #}
  {% if has_action_transaction %}
    <div class="app-panel app-panel--top app-panel--transaction-form">
      <div class="-inner container">
        {{ form_start(form_transaction, { 'action': path('transaction_manage'), 'attr' : { 'class': '-use-ajax-submit' } }) }}
          {% include 'components/forms/transaction.html.twig' %}

          <div class="mt-2 text-center">
            <button class="btn btn-sm btn-outline-light mx-1 toggle-panel-transaction"
              type="button" data-panel-type="close">
              Annuler
            </button>

            <button class="btn btn-primary mx-1" type="submit" name="submit">
              <span class="d-edit-none">
                <span class="icon icon-plus-square"></span>
                Ajouter
              </span>
              <span class="d-edit-inline-block">
                <span class="icon icon-edit"></span>
                Modifier
              </span>
            </button>
          </div>
        {{ form_end(form_transaction) }}
      </div>
    </div>
  {% endif %}
{% endif %}