<div class="app-footer">
  <div class="container clearfix">
    <div class="footer-item footer-item--left footer-item--links">
      <ul class="list-inline">
        {#<li class="list-inline-item">
            <a href="#legal-terms">Mentions légales</a>
        </li>
        <li class="list-inline-item">
            <a href="#personal-data">Données personnelles</a>
        </li>#}
        <li class="list-inline-item">
            <a href="{{ path('static_pages', { slug: 'a-propos' }) }}">A propos</a>
        </li>
      </ul>
    </div>

    <div class="footer-item footer-item--right footer-item--author">
      &copy;&nbsp;2018 - Conçu avec du <span class="icon-code" title="code" alt="code"></span>
      et un peu de <span class="icon-coffee" title="thé ou café" alt="thé ou café"></span>
      par <a href="http://litti-aurelien.fr" title="litti-aurelien.fr" target="_blank">Litti Aurélien</a>
    </div>
  </div>
</div>
