{# Set period text according to dates start & end values #}
{% if date_start is defined and date_end is defined %}
  {% if date_start|date('m') == date_end|date('m') %}
    {% set month_literal = date_start|localizeddate('none', 'none', null, null, 'MMMM') %}
    {% set for_literal = month_literal|lower|first in ['a', 'e', 'i', 'o', 'u'] ? "d'": "de " %}
    {% set period_text = 'block.inc_exp.period'|trans({ '%date%': (month_literal|capitalize ~ ' ' ~ date_start|date('Y')), '%for_literal%': for_literal }) %}
  {% else %}
    {# Add year to date start text ONLY IF date start year and date end year are differents #}
    {% set date_start_text = date_start|localizeddate('none', 'none', null, null, 'dd MMMM' ~ (date_start|date('Y') != date_end|date('Y') ? ' YYYY': '')) %}
    {% set period_text = 'block.inc_exp.period_custom'|trans({ '%date_start%': date_start_text, '%date_end%': date_end|localizeddate('none', 'none', null, null, 'dd MMMM YYYY') }) %}
  {% endif %}
{% else %}
  {% set period_text = 'block.inc_exp.since_register'|trans %}
{% endif %}

<div class="row">
  <div class="col-12{% if full_width is not defined %} col-xl-6{% endif %} mb-4">
    <div class="card bg-gradient-success text-white text-shadow border-0">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="col pl-0">
            <h5 class="card-title small text-uppercase mb-1">{{ 'block.inc_exp.incomes.title'|trans }}</h5>
            <div class="bank-account-total-incomes">
              {% include 'components/price.html.twig' with {
                amount        : incomes,
                currency      : bank_account.currency.label,
                disable_color : true,
                custom_class  : 'font-weight-bold h5 no-wrap' } %}
            </div>
          </div>
          <div class="col-auto px-0">
            <span class="avatar">
              <span class="avatar-text avatar-text-big rounded-circle bg-white shadow-sm text-success text-shadow-none">
                <span class="icon-log-in"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="pt-1 mt-3 small text-muted border-top">
          {{ period_text }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12{% if full_width is not defined %} col-xl-6{% endif %} mb-4">
    <div class="card bg-gradient-danger text-white text-shadow border-0">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="col pl-0">
            <h5 class="card-title small text-uppercase mb-1">{{ 'block.inc_exp.expenses.title'|trans }}</h5>
            <div class="bank-account-total-expenses">
              {% include 'components/price.html.twig' with {
                amount        : expenses,
                currency      : bank_account.currency.label,
                disable_color : true,
                custom_class  : 'font-weight-bold h5 no-wrap' } %}
            </div>
          </div>
          <div class="col-auto px-0">
            <span class="avatar">
              <span class="avatar-text avatar-text-big rounded-circle bg-white shadow-sm text-danger text-shadow-none">
                <span class="icon-log-out"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="pt-1 mt-3 small text-muted border-top">
          {{ period_text }}
        </div>
      </div>
    </div>
  </div>
</div>
