<span class="text-price{% if disable_color is not defined or disable_color == false %} text-{% if amount > 0 %}success{% elseif amount == 0 %}warning{% else %}danger{% endif %}{% endif %}{% if custom_class is defined %} {{ custom_class }}{% endif %}">
  {{ amount|number_format(2, ',', ' ') }}&nbsp;{{ currency }}
</span>
