{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  {% embed 'components/transactions/list.html.twig' %}
    {% block footer %}
      <div class="card-footer">
        <span class="badge badge-warning text-price">TODO (pagination & filters)</span>
      </div>
    {% endblock %}
  {% endembed %}
</div>
{% endblock %}
