{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  {% include 'components/incomes-and-expenses.html.twig' with {
    expenses: total_expenses,
    incomes: total_incomes,
    bank_account: current_bank_account
  } %}

  <div class="mb-4">
    {% embed 'components/transactions/list.html.twig' %}
      {% block footer %}
        <div class="card-footer">
          <span class="badge badge-warning text-price">TODO (pagination & filters)</span>
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>
{% endblock %}
